#marker-start-L2Nzcy9lZGl0b3IuY3Nz.Lw {}
/* Compatibility rules for the default TinyMCE skin: */
td {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  margin: inherit;
}
abbr {
  border-bottom: 0px none;
}
cite {
  border-bottom: 0px none;
}
body {
  border-collapse: collapse;
  overflow: auto;
}
body {
  line-height: 18.57142858px;
  font-size: 13px;
}
a {
  color: #023b5e;
}
a:hover {
  color: #005f7e;
  text-decoration: underline;
}
h6 {
  line-height: 22.85714286px;
  font-size: 16px;
  color: #428bca;
}
h6 a:hover {
  text-decoration: none;
}
h5 {
  line-height: 25.71428572px;
  font-size: 18px;
  text-transform: none;
  margin-top: 0;
  color: #428bca;
}
h5 a:hover {
  text-decoration: none;
}
h4 {
  line-height: 42.85714287px;
  font-size: 30px;
  text-transform: none;
  color: #428bca;
}
h4 a {
  color: #428bca;
}
h4 a:hover {
  text-decoration: none;
}
h3 {
  line-height: 51.42857144px;
  font-size: 36px;
  color: #428bca;
}
h3 a {
  color: #428bca;
}
h3 a:hover {
  text-decoration: none;
}
h2 {
  line-height: 68.57142859px;
  color: #428bca;
  font-size: 48px;
}
h2 a {
  color: #428bca;
}
h2 a:hover {
  text-decoration: none;
}
h1 {
  line-height: 85.71428574px;
  text-decoration: none;
  font-size: 60px;
  color: #428bca;
}
h1 a {
  color: #428bca;
}
h1 a:hover {
  text-decoration: none;
  color: #004785;
}
#marker-end-L2Nzcy9lZGl0b3IuY3Nz.Lw {}
#marker-start-L2Nzcy9lZGl0b3IuY3Nz.L2NvbnRyb2xzL2FydGljbGVDb250ZW50MQ {}
#marker-end-L2Nzcy9lZGl0b3IuY3Nz.L2NvbnRyb2xzL2FydGljbGVDb250ZW50MQ {}
#marker-start-L2Nzcy9lZGl0b3IuY3Nz.L2NvbnRyb2xzL2FydGljbGVDb250ZW50Mw {}
.bd-postcontent-3 {
  position: relative;
}
#marker-end-L2Nzcy9lZGl0b3IuY3Nz.L2NvbnRyb2xzL2FydGljbGVDb250ZW50Mw {}
#marker-start-L2Nzcy9lZGl0b3IuY3Nz.L2NvbnRyb2xzL2FydGljbGVDb250ZW50NA {}
#marker-end-L2Nzcy9lZGl0b3IuY3Nz.L2NvbnRyb2xzL2FydGljbGVDb250ZW50NA {}
#marker-start-L2Nzcy9lZGl0b3IuY3Nz.L2NvbnRyb2xzL2FydGljbGVDb250ZW50NQ {}
#marker-end-L2Nzcy9lZGl0b3IuY3Nz.L2NvbnRyb2xzL2FydGljbGVDb250ZW50NQ {}
#marker-start-L2Nzcy9lZGl0b3IuY3Nz.L2NvbnRyb2xzL2FydGljbGVDb250ZW50Ng {}
#marker-end-L2Nzcy9lZGl0b3IuY3Nz.L2NvbnRyb2xzL2FydGljbGVDb250ZW50Ng {}
#marker-start-L2Nzcy9lZGl0b3IuY3Nz.L2NvbnRyb2xzL2Jsb2dBcnRpY2xlQ29udGVudA {}
.bd-postcontent-2 {
  position: relative;
  margin-bottom: 2px;
  margin-top: 10px;
}
.bd-postcontent-2 .bd-postcontent-2 {
  color: #001824;
}
#marker-end-L2Nzcy9lZGl0b3IuY3Nz.L2NvbnRyb2xzL2Jsb2dBcnRpY2xlQ29udGVudA {}